.resources-intro {
  max-width: 800px;
  margin: 1rem auto;
  text-align: center;
  color: #666;
  font-size: 1.1rem;
}

.resources-container {
  padding: 1.5rem 0;
}

.resources-container .col-12,
.resources-container .col-sm-6,
.resources-container .col-md-4,
.resources-container .col-lg-3 {
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
